html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  background: linear-gradient(rgba(22, 87, 217, 0.8), rgba(1, 4, 10, 0.9));


}
.title {
    position:relative;
    margin: 0px;
    padding: 0px;
}
.title:before {
  content:"";
  position:absolute;
  width:100vw;
  height:300vh;
  left:0;
  top:0;
  z-index:-1;
  opacity:0.4;
  background-image: url("https://wallpapercave.com/wp/wp3432011.jpg");
  background-repeat: repeat;
}
.psycho a {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  height: auto;
  left: 500px;
  z-index: 1
}
.psycho img{
  width: 10%;
  height: auto;

}
@font-face {
  font-family: willowbody_0;
  src: url(willowbody_0-webfont.ttf);
}
@@font-face {
  font-family: Compacta;
  src: url(unicode.compacta.ttf);
}
#title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #f8db4a;
  font-family: Compacta;
  margin: 5px;
}
.athena {
  position: relative;
}
.athena .athena_name{
  font-family: Compacta;
  font-size: 30px;
  color: red;
  margin-left: 10px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 22%;
  height: 100%;
  background-color: rgba(0,255,255,0.5);
  opacity: 0;
  border-radius: 25px;
}
.athena .athena_name:hover{
  opacity: 1;
}
.athena img {
  width: 20%;
  height: auto;
  margin: 10px;
  margin-left: 25px;
  background-color: rgba(115,177,199	,0.5);
  border-style: solid;
  border-radius: 25px;
}

.chars {
  display: flex;
  flex-wrap: wrap;
}
.chars .athena {
  margin-right: 20px;

  display: flex;
  font-family: willowbody_0;
  color: #69e3fb

}
.chars .athena .athena_info {
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #1a3c5c;
  background-color: rgba(0,0,0,0.3);
}

.wilhelm .wilhelm_name{
  font-family: Compacta;
  font-size: 30px;
  color: red;
  margin-left: 10px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 21.5%;
  height: 45%;
  background-color: rgba(0,255,255,0.5);
  opacity: 0;
  border-radius: 25px;
}
.wilhelm .wilhelm_name:hover{
  opacity: 1;
}

.wilhelm img {
  width: 20%;
  height: auto;
  margin: 10px;
  margin-left: 20px;
  background-color: rgba(115,177,199	,0.5);
  border-style: solid;
  border-radius: 25px;
}
.chars .wilhelm {
  margin-right: 15px;
  margin-top: 20px;
  display: flex;
  font-family: willowbody_0;
  color: #69e3fb
}
.chars .wilhelm .wilhelm_info {
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #1a3c5c;
  background-color: rgba(0,0,0,0.3);
}
.nisha .nisha_name{
  font-family: Compacta;
  font-size: 30px;
  color: red;
  margin-left: 10px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 21%;
  height: 58%;
  background-color: rgba(0,255,255,0.5);
  opacity: 0;
  border-radius: 25px;
}
.nisha .nisha_name:hover{
  opacity: 1;
}
.nisha img {
  width: 20%;
  height: auto;
  margin: 10px;
  margin-left: 15px;
  background-color: rgba(115,177,199	,0.5);
  border-style: solid;
  border-radius: 25px;
}
.chars .nisha {
  margin-right: 15px;
  margin-top: 20px;
  display: flex;
  font-family: willowbody_0;
  color: #69e3fb

}
.chars .nisha .nisha_info {
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #1a3c5c;
  background-color: rgba(0,0,0,0.3);
}
.claptrap .claptrap_name{
  font-family: Compacta;
  font-size: 30px;
  color: red;
  margin-left: 10px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 21%;
  height: 53%;
  background-color: rgba(0,255,255,0.5);
  opacity: 0;
  border-radius: 25px;
}
.claptrap .claptrap_name:hover{
  opacity: 1;
}
.claptrap img {
  width: 20%;
  height: auto;
  margin: 10px;
  margin-left: 20px;
  background-color: rgba(115,177,199	,0.5);
  border-style: solid;
  border-radius: 25px;
}
.chars .claptrap {
  margin-right: 15px;
  margin-top: 20px;
  display: flex;
  font-family: willowbody_0;
  color: #69e3fb
}
.chars .claptrap .claptrap_info {
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #1a3c5c;
  background-color: rgba(0,0,0,0.3);
}
.jack .jack_name{
  font-family: Compacta;
  font-size: 30px;
  color: red;
  margin-left: 10px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 22%;
  height: 68%;
  background-color: rgba(0,255,255,0.5);
  opacity: 0;
  border-radius: 25px;
}
.jack .jack_name:hover{
  opacity: 1;
}
.jack img {
  width: 20%;
  height: auto;
  margin: 10px;
  margin-left: 20px;
  background-color: rgba(115,177,199	,0.5);
  border-style: solid;
  border-radius: 25px;
}
.chars .jack {
  margin-right: 15px;
  margin-top: 20px;
  display: flex;
  font-family: willowbody_0;
  color: #69e3fb

}
.chars .jack .jack_info {
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #1a3c5c;
  background-color: rgba(0,0,0,0.3);
}
